{% extends 'ugc/base.html' %}

{% block content %}

		<section class="bg_img_section about_section">
			<div class="container about_block">
				<div class="row">
					<div class="col-6">
						<h1>
							О ПРОЕКТЕ TravelPlaces
						</h1>
						<br>
						<p>
							Этот сайт сборник различных интересных мест для путешествий. С нами вам станет проще определиться какую страну посетить на следующий отпуск. Или в какой город съездить на выходные.  
						</p>
						<p>
							Так же на нашем сайте вы можете найти актуальные мероприятия в вашем городе. Или к какому празднику лучше всего поехать в ту или иную страну. 
						</p>
					</div>
				</div>
				
			</div>
		</section>

{% endblock %}