{% extends 'ugc/base.html' %}
{% block content %}

{% load columns %}
{% load static i18n %}

	<section class="bg_img_section intro_section">
		<div class="container">
			<h1 class="header_title">
				{% trans 'Добро пожаловать на TravelPlaces ' %}
			</h1>
		</div>
	</section>

	<section>
		<div class="container px-4">
			
        {% for row in posts|columns:2%}
      <div class="row row_margin">
      {% for p in row %}
      <div class="col-6">
					<div class="card" >
						<img src="{{p.thumbnail_image}}" class="card-img-top" alt="{{p.title}}" />
						<div class="card-body">
						  <h5 class="card-title">{{p.title}}</h5>
						  <p class="card-text" >{{p.short_description|linebreaks}}</p>
						  <a href="{% url 'page' p.id %}" class="btn btn-primary">{% trans 'Подробнее' %}</a>
						</div>
					  </div>
				</div>

      {% endfor %}
      </div>
      {% endfor %}
			  
		</div>
		</div>
		
	</section>

{% endblock %}